
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.display-hide{
        display: none;
}

/* shared styles */
.dark-2{
        color: #424242;
}
.dark-1{
        color: #131313;
}
.dark-3{
        color: #727272;
}
.primary-btn{
        background-color: #FF900E;
        color: white;
        font-weight: 600;
        font-size: 1.25rem;
        padding: 20px 25px;
        border: none;
        border-radius: 8px;

}
.section-title {
        font-size: 2.8rem;
        font-weight: 700;
}
/* header styles */
header{
        background-color: rgb(255,144,14,0.1);
        padding: 50px 240px;
}

/* navbar related style */
.nav-bar{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.brand{
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
}
.nav-link-container{
        display: flex;
        gap: 24px;
        list-style: none;
}
.link-item{
        text-decoration: none;
        color:#424242;
}

/* banner related style */
.banner{
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
}
.banner-content{
        max-width: 530px;
        margin: 0 auto;
}
.banner-img{
        width: 100%;
        border-radius: 8px;
}
.banner-title,.banner-description{
        margin-bottom: 20px;
}
.banner-title{
        font-size: 3.5rem;
        font-weight: 700;
}
.banner-btn{
        margin-bottom:10px ;
}


/* main section styles */
section{
        margin-top: 130px;
}
main{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 240px;
}

/* team related style */
.team{
        display: flex;
        align-items: center;
}
.team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;

}
.team-img-container> img{
        width: 100%;
        border-radius: 8px;
}
.team-text-container{
        margin-left: 100px;
}
.team-title,.team-description{
        margin-bottom: 20px;
}
.quick-list{
        font-weight: 500;
        color: #727272;
}
.feature-font{
        color: #FF900E;
}

/* feature related style */
.feature{
        display: flex;
        align-items: center;
        column-gap: 54px;
}

.feature-title{
        border-left: 5px solid #FF900E;
        padding-left: 10px;
}
.feature-img{
        width: 100%;
}
.feature-card{
        margin-bottom: 20px;
        box-shadow: 0 4px 30px 0 rgb(0, 0, 0, .6);
        padding: 30px;
        border-radius: 8px;
}
.feature-description,.feature-title{
        margin-bottom: 20px;
}
.card-title{
        margin-bottom: 10px;
}
.feature-badge{
        background-color: #FF900E;
        padding: 30px 20px;
        border: none;
        border-radius: 8px;
        color: white;
        margin-left: -40px;
        margin-top: -75px;
       
}
.bold-badge-text{
        font-size: 2.5rem;
        font-weight: 700;
}

/*some facts related style */
.facts-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 30px;
        column-gap: 20px;
}
.fact-description{
        max-width: 540px;
}
.fact{
        width: 240px;
        height: 240px;
        border-radius: 8px;
        border: 1px solid #FF900E;
        display: flex;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.fact h3{
        color: #424242;
        font-weight: 600;
        font-size: 2.8rem;
}

/* sponsor related style */
.sponsor-text{
        max-width: 540px;
        margin: 0 auto;
        text-align: center;
}
.sponsor-img{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-content: center;
        align-items: center;
        margin-top: 40px;
}
.sponsor-img img{
        filter: grayscale(100%);
}

/* footer styles */
footer{
        background-color: #FFF4E7;
        padding: 40px;
        margin: 130px auto 0 auto;
        max-width: 1440px;
        border-radius: 8px;
        text-align: center;

}

/* responsive styles */

@media screen and (max-width:576px){
        .nav-bar{
                flex-direction: column;
        }
        .nav-link-container{
                flex-direction: column;
        }
        header{
                text-align: center;
                padding: 20px 20px;
        }
        .team{
                flex-direction: column;
        }
        main{
                padding: 0px 20px;
        }
        .team-img-container{
                grid-template-columns: 1fr;
        }
        .feature{
                flex-direction: column;
        }
        .some-facts{
                text-align: center;
        }
        .facts-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
                
        }
        .sponsor-img{
               display: flex;
               flex-direction: column;
               align-items: center;
                row-gap: 30px;
        }
      
}

/* medium device responsive */
@media screen and (min-width:576px) and (max-width:992px){
        header{
                padding: 20px 20px;
        }
        main{
                padding: 0 20px;
        }
         .facts-container{
                grid-template-columns: repeat(2,1fr);
                row-gap: 20px;
                
               
                
        }
        .sponsor-img{
                grid-template-columns: repeat(2,1fr);
                gap: 30px;
        }
      
}
@media screen and (min-width:992px) and (max-width:1051px){
        header{
                padding: 30px 30px;

        }
        main{
                padding: 0 30px;
        }
        .facts-container{
                grid-template-columns:1fr 1fr;
                row-gap: 20px;
                
               
                
        }
            
        
}