
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* shared styles */
.dark-2{
        color: #424242;
}
.dark-1{
        color: #131313;
}
.dark-3{
        color: #727272;
}
.primary-btn{
        background-color: #FF900E;
        color: white;
        font-weight: 600;
        font-size: 1.25rem;
        padding: 20px 25px;
        border: none;
        border-radius: 8px;

}
.section-title {
        font-size: 2.8rem;
        font-weight: 700;
}
/* header styles */
header{
        background-color: rgb(255,144,14,0.1);
        padding: 50px 240px;
}

/* navbar related style */
.nav-bar{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.brand{
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
}
.nav-link-container{
        display: flex;
        gap: 24px;
        list-style: none;
}
.link-item{
        text-decoration: none;
        color:#424242;
}

/* banner related style */
.banner{
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
}
.banner-content{
        max-width: 530px;
        margin: 0 auto;
}
.banner-img{
        width: 100%;
        border-radius: 8px;
}
.banner-title,.banner-description{
        margin-bottom: 20px;
}
.banner-title{
        font-size: 3.5rem;
        font-weight: 700;
}
.banner-btn{
        margin-bottom:10px ;
}


/* main section styles */
section{
        margin-top: 130px;
}
main{
        padding: 0 240px;
}

/* team related style */
.team{
        display: flex;
        align-items: center;
}
.team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;

}
.team-img-container img{
        width: 100%;
        border-radius: 8px;
}
.team-text-container{
        margin-left: 100px;
}
.team-title,.team-description{
        margin-bottom: 20px;
}
.quick-list{
        font-size: 600;
        font-weight: 500;
        color: #727272;
}
.feature-font{
        color: #FF900E;
}

/* responsive styles */

@media screen and (max-width:576px){
        header{
                padding: 20px 20px;
        }
        main{
                padding: 20px 20px;

        }
        .nav-bar{
                flex-direction: column;
                text-align: center;
        }
        .nav-link-container{
                flex-direction: column;
        }
        .team{
                flex-direction: column;
        }
        .team-img-container{
                grid-template-columns: 1fr;
        }
        .team-text-container{
                margin-top: 30px;
        }
        
}

/* medium device responsive */
@media screen and (min-width:576px) and (max-width:992px){
        header{
                padding: 40px 40px;
        }
        main{
                 padding: 40px 40px;
        }
        
}

@media screen and (min-width:576px) and (max-width:1051px){
            header{
                padding: 40px 40px;
        }
         main{
                 padding: 40px 40px;
        }
        
        .team{
                flex-direction: column;
        }
        .team-img-container{
                grid-template-columns: repeat(2,1fr);
                  
        }
        .team-text-container{
                margin-top: 30px;
        }
}